# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env.local
.env.production.local
.env.development.local

# debug
npm-debug.log*

# 生成ファイル
public/garden-search-index.json

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
